<div class="jumbotron" style="position: relative;">

    <div class="text-center">
        <h1 class="display-4"><b>AHAMED NOOR</b></h1>
        <h2><b>Angular Developer</b></h2>
    </div>



    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="linkedin.com/in/ahamed-noor-ab74982a9" target="_blank" class="">
            <img src="../../assets/linkdin.jpeg" width="24" height="24" class="rounded-circle me-2">
        </a>

        <a href="https://www.instagram.com/ahamednoor_?utm_source=qr&igsh=MzNlNGNkZWQ4Mg%3D%3" target="_blank" class="">
            <img src="../../assets/instagram.jpeg" width="24" height="24" class="rounded-circle me-2">
        </a>

        <a href="https://github.com/Ahamed0097" target="_blank" class="">
            <img src="../../assets/GitHub.jpeg" width="24" height="24" class="rounded-circle me-2">
        </a>
    </div>
</div>