<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>
    <div class="pb-2">
        <accordion [isAnimated]="true">
            <accordion-group heading="Work Experience">
                <div style="text-align: left;">
                    <h2 class="mb-0">Web-Developer-Angular-Intern</h2>
                    <h3 class="text-primary">Aitrich Technologies</h3>
                    <ul>
                        <li>Developed a responsive web application using Angular, leveraging Angular services and components to ensure seamless functionality and enhance user experience.</li>
                        <li>Collaborated within a team to meet project deadlines and led as a Scrum Master, conducting scrum meetings to deliver a successful web application, reducing deployment time by 40%.</li>
                        <li>Led the development of a comprehensive job portal, enhancing the job search and recruitment process with advanced search options, detailed job listings, and company profiles with reviews and ratings.</li>
                        <li>Implemented a user-friendly application process, allowing job seekers to apply directly through the portal with resumes and cover letters, increasing transparency and efficiency.</li>
                        
                    </ul>
                </div>
                
            </accordion-group>
    
            <accordion-group heading="Education">
                <div style="text-align: left;">
                    <h2 class="mb-0">BVOC Software Development & System Administration</h2>
                    <h3 class="text-primary">MES COLLEGE MARAMPALLY ALUA</h3>
                    <h4 class="text-secondary">2020-2023</h4>
                    <hr>
                    <h2 class="mb-0">Computer Science</h2>
                    <h3 class="text-primary">MES HigherSecondary</h3>
                    <h4 class="text-secondary">2018-2020</h4>
                </div>
                
            </accordion-group>
    
            <accordion-group heading="Certifications">
                <div style="text-align: left;">
                    <ul>
                        <li>Certified Advanced Front- End Developer</li>
                        <li>Certified Software Engineer Trainee</li>
                        <li>Certified Web Developer</li>
                        <li>Certified System Analyst</li>
                        <li>Certified UI UX Designer</li>
                        <li>Certified Agile Practitioner</li>
                        <li>Certified Test-Driven Developer (Angular)</li>
                    </ul>
                </div>
            </accordion-group>
    
            <accordion-group heading="Skills">
                <div class="row" style="text-align: left;">
                    <div class="col">
                        <h3>Developing skill</h3>
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JAVASCRIPT</li>
                            <li>RESPONSIVE DESIGN</li>
                            <li>TYPESCRIPT</li>
                            <li>BOOTSTRAP</li>
                            <li>ANGULAR</li>
                            <li>SQL</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>other skill:</h3>
                        <ul>
                            <li>Source control via GIT</li>
                            <li>Agile Development</li>
                            <li>Figma</li>
                        </ul>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    
    </div>
    
</div>


